#platform=x86, AMD64, or Intel EM64T
#version=DEVEL
# Install OS instead of upgrade
install
# Keyboard layouts
keyboard 'us'
# Root password
rootpw --iscrypted $1$LjnPWdyq$2w7MgrO8OmmusrOePV0SL1
# Use network installation
url --url="http://172.18.0.1/centos/7/"
# System language
lang en_US
# System authorization information
auth  --useshadow  --passalgo=sha512
# Use text mode install
text
firstboot --disable
# SELinux configuration
selinux --disabled

# Firewall configuration
firewall --disabled
# Network information
network  --bootproto=dhcp --device=eth0
# Reboot after installation
reboot
# System timezone
timezone Asia/Shanghai
# System bootloader configuration
bootloader --append="net.ifnames=0" --location=mbr
# Clear the Master Boot Record
zerombr
# Partition clearing information
clearpart --all --initlabel
# Disk partitioning information
part / --fstype="xfs" --size=10000
part swap --fstype="swap" --size=2048
part /boot --fstype="xfs" --size=2048

%post
mkdir /root/.ssh
cd /root/.ssh
cat > authorized_keys << EOF
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCfS/DePb9pjeQEoYx5bzha8vKTpinCh0/tdMGKtK8xjakT/x4do0s2jtc1smDgptV5o/l2tspGwxhlF+ae5hKZRoXFiwv8lSOSYo2+wL6UnqOBfN92IMsU1R0iN50JWt2y7m2ve2hQV73ISjeeh/aAx3P6ES6n659WlWoZjENCRQLGvqQ7Gj+Xzr0gWElLv+jMxkRzl2V0i1CHC70x0N0PEAdVjCEp1na69VWTvHTeqZu6ZELSP8/5SpO9hWpZJ+Lib//CJo9+mxqJ+wvGnoighR/v0yN1ilfFGFViEdWL36CZfzG5IyUW4st3txwIbv7s4arryMCOa0BajY3AgLIx root@a77
EOF
chmod 700 /root/.ssh
chmod 600 /root/.ssh/authorized_keys
useradd zhang
echo 47678276 | passwd --stdin zhang &> /dev/null
mkdir /etc/yum.repos.d/backup
cd /etc/yum.repos.d/
mv *.repo backup/
cat >base.repo << EOF
[base]
baseurl=file:///misc/cd
gpgcheck=0
EOF
systemctl enable autofs
%end

%packages
autofs
tree
vim-enhanced
bc
%end

