global
maxconn 100000
chroot /usr/local/haproxy
stats socket /var/lib/haproxy/haproxy.sock mode 600 level admin 
uid 99
gid 99 
daemon 
#nbproc 4
#cpu-map 1 0
#cpu-map 2 1
#cpu-map 3 2
#cpu-map 4 3
pidfile /var/lib/haproxy/haproxy.pid 
log 127.0.0.1 local3 info

defaults
option http-keep-alive 
option  forwardfor 
maxconn 100000
mode http
timeout connect 300000ms 
timeout client 300000ms 
timeout server 300000ms

listen stats 
 mode http
 bind 192.168.38.7:9999
 stats enable 
 log global
 stats uri /haproxy-status
 #stats auth haadmin:123456

listen  nginx
 bind 172.18.1.99:80
 mode http
 log global
 server 192.168.38.27 192.168.38.27:80  check inter 3000 fall 2 rise 5
 server 192.168.38.47 192.168.38.47:80  check inter 3000 fall 2 rise 5

